<% provide(:title, "Home") %>

<script type="text/javascript">
$(document).ready(function(){
	$.each(['categories', 'nyc_executives', 'city_agencies', 'subways', 'post_offices', 'state_agencies', 'state_parks'], function(index, cssName){
		var list = $('.'+cssName+'_list');
		$(list).hide();
		$('.'+cssName).click(function(){
			$(list).slideToggle('slow');
		});
	});
/*
	var listCat = $('.categories_list');
	$(listCat).hide();
	$('.categories').click(function(){
		$(listCat).slideToggle('slow');
	});
	
	var listExecs = $('.nyc_executives_list');
	$(listExecs).hide();
	$('.nyc_executives').click(function(){
		$(listExecs).slideToggle('slow');
	});

	var listCA = $('.city_agencies_list');
	$(listCA).hide();
	$('.city_agencies').click(function(){
		$(listCA).slideToggle('slow');
	});
	
	var listSS = $('.subways_list');
	$(listSS).hide();
	$('.subways').click(function(){
		$(listSS).slideToggle('slow');
	});
	
	var listPO = $('.post_offices_list');
	$(listPO).hide();
	$('.post_offices').click(function(){
		$(listPO).slideToggle('slow');
	});

	var listSA = $('.state_agencies_list');
	$(listSA).hide();
	$('.state_agencies').click(function(){
		$(listSA).slideToggle('slow');
	});
	
	var listSP = $('.state_parks_list');
	$(listSP).hide();
	$('.state_parks').click(function(){
		$(listSP).slideToggle('slow');
	});
	*/	
});
</script>

<script type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5IL7HUJaguYdgp5RIAAKblSuZVzczfE">
</script>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>

<script type="text/javascript">
	function initialize() {
	    var mapOptions = {
			center: { lat: 40.725968, lng: -73.997667}, zoom: 12
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="width: 300px; height: 400px"></div>

<div>
	<h4>Most Recent Posts</h4>
	<ol>
		<% @posts.last(10).each do |post| %>
			<li>
				<%= post.updated_at.time.strftime("%m/%d/%y %l:%M %p") %>
				<strong><%= link_to post.public_entity.name, post.public_entity %></strong>,
				<%= link_to post.title, post.public_entity %>
			</li>
		<% end %>
	</ol>
</div>

<h1 class="categories">Browse by Category</h1>
<ul>
	<% @categories.each do |category| %>
		<li class="categories_list"><%= category.name %></li>
	<% end %>
</ul>

<h1 class="nyc_executives">NYC Executive Officers</h1>
<ul><% @public_entities.where(authority_level: 'city', entity_type: 'city executive').each do |entity| %>
	<div class="nyc_executives_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>

<h1 class="city_agencies">NYC Agencies</h1>
<ul><% @public_entities.where(authority_level: 'city', entity_type: 'agency').each do |entity| %>
	<div class="city_agencies_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>

<h1 class="subways">NYC Subway Stations</h1>
<ul><% @public_entities.where(entity_type: 'subway_station').each do |entity| %>
	<div class="subways_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>

<h1 class="post_offices">NYC Post Offices</h1>
<ul><% @public_entities.where(entity_type: 'post_office').each do |entity| %>
	<div class="post_offices_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>

<h1 class="state_agencies">NY State Agencies</h1>
<ul><% @public_entities.where(authority_level: 'state', entity_type: 'agency').each do |entity| %>
	<div class="state_agencies_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>

<h1 class="state_parks">NY State Parks</h1>
<ul><% @public_entities.where(authority_level: 'state', entity_type: 'park').each do |entity| %>
	<div class="state_parks_list"><%=link_to entity.name, public_entity_url(entity) %></div>
	<%end%>
</ul>