<% provide(:title, "Our Government | Our Experiences") %>
<span class="logo"><%= link_to (image_tag "OurGov_Logo3.png", height: 'auto', width: '100%'), "/" %></span>

<script type="text/javascript">
$(document).ready(function(){
	$.each(['categories', 'nyc_executives', 'city_agencies', 'subways', 'post_offices', 'state_agencies', 'state_parks', 'dmv'], function(index, cssName){
		var list = $('.'+cssName+'_list');
		$(list).hide();
		$('.'+cssName).click(function(){
			$(list).slideToggle('slow');
		});
	});
});
</script>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>

<script type="text/javascript">
  function test() {
    console.log('test() called');
  }

	function initialize() {
		//var marker = new google.maps.Marker({
	  //    position: new google.maps.LatLng(40.716593, -74.010593),
	  //    map: map,
	  //    title: 'My old house!'
    //});
    var map;

    $.get('public_entities/user_location', test);

    $.get('public_entities/user_location', function(data) {
      var userLatLng = data;
      console.log(userLatLng);

      // setup the map options (center it according to the user lat lng)x
	    var mapOptions = {
        //center: { lat: 40.725968, lng: -73.997667},
        center: { lat: userLatLng[0], lng: userLatLng[1]},
        zoom: 12
	    };

      // create the map
	    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	
      // add a marker for our current location
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(userLatLng[0], userLatLng[1]),
        map: map,
        title: 'User!'
      });
    });

    //$.ajax(
    //  url: userLocUrl,
    //  success: function(res){
    //    console.log(res);
    //  },
    //  complete: function(){
    //    console.log("complete");
    //  }
    //);
		//var userLatLng = $.getJSON(userLocUrl, { format: 'json' })
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!--
<div>
	<h3>Most Recent Posts</h3>
	<ol>
		<% @ten_most_recent_posts.each do |post| %>
				<li>
				<% if post.review != nil %>
				At <%= post.updated_at.time.strftime("%m/%d/%y %l:%M %p") %>
				<%= post.user.first_name.to_s + ' ' + post.user.last_name[0].to_s + ". "%> reviewed
				<strong><%= link_to post.public_entity.name, post.public_entity,  'data-no-turbolink' => true%></strong>:
				<%= link_to post.review[0..50], post.public_entity, 'data-no-turbolink' => true %>...
				<% end %>
			</li>
		<% end %>
	</ol>
</div>
-->

<!--
<div id="map-canvas" style="width: 100%; height: 400px; display:inline-block"></div>
-->

<body>
  <div class="home-page-description">OurGov is a digital platform to report problems to and leave feedback for government services and agencies.</div>
  
<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<div class="search-box">
  <div class="search">
   	<input id="searchInput" type="text" />
    
    <script>
    $(document).ready(function() {
      var $input = $('input#searchInput');
      $input.keyup(function() {
    	  console.log("keyup event");
        index.search($input.val(), {
          hitsPerPage: 10,
          facets: '*'
        }, searchCallback);
      });
    });

    function searchCallback(err, content) {
      if (err) {
        console.error(err);
        return;
      }
      console.log(content);
      
      var $results = $('#results');
      $results.empty();

      for (var i = 0; i < content.hits.length; i++) {
        console.log(content.hits[i].objectID)
        $link = $('<a href="/public_entities/' + content.hits[i].objectID + '">' + content.hits[i].name + '</a>');
        $li = $('<li></li>');
        $li.append($link);
        $results.append($li);
      }
    };
    </script>
  </div>
  <div class="results">
    <ul id="results"></ul>
  </div>
</div>

<div class="index-category-links">
  <%= @categories.map { |category| link_to(category.name, category_path(category), 'data-no-turbolink' => true) }.join(' | ').html_safe %>
</div>

<!--
<table class="nav_buttons">
	<tr class="row">
		<td><span class="bracket">[ </span><%= link_to "DMVs", category_path(Category.find_by(name:'DMV')), 'data-no-turbolink' => true %><span class="bracket"> ]</span>
		</td>
		<td><span class="bracket">[ </span><%= link_to "Post Offices", category_path('Post Office'), 'data-no-turbolink' => true %><span class="bracket"> ]
		</td>
		<td><span class="bracket">[ </span>Parks & Rec<span class="bracket"> ]
		</td>
		<td><span class="bracket">[ </span>Police & Fire Services<span class="bracket"> ]
		</td>
	</tr>
	<tr class="row">
		<td><span class="bracket">[ </span>City & State Agencies<span class="bracket"> ]
		</td>
		<td><span class="bracket">[ </span><%= link_to "Subways & MTA", category_path("Subway Stations"), 'data-no-turbolink' => true %><span class="bracket"> ]
		</td>
		<td><span class="bracket">[ </span>Public Officials<span class="bracket"> ]
		</td>
		<td><span class="bracket">[ </span>Schools<span class="bracket"> ]
		</td>
	</tr>
</table>
--!>

<!--<h3 class="categories">Browse by Category</h3>
<ul>
	<% @categories.each do |category| %>
		<li class="categories_list"><%= link_to category.name, category_path(category) %></li>
	<% end %>
</ul>

<h3 class="nyc_executives">NYC Executive Officers</h3>
<ul><% @nyc_executives.each do |entity| %>
	<div class="nyc_executives_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="city_agencies">NYC Agencies</h3>
<ul><% @nyc_agencies.each do |entity| %>
	<div class="city_agencies_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="subways">NYC Subway Stations</h3>
<ul><% @nyc_subway_stations.each do |entity| %>
	<div class="subways_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="post_offices">NYC Post Offices</h3>
<ul><% @nyc_post_offices.each do |entity| %>
	<div class="post_offices_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="state_agencies">NY State Agencies</h3>
<ul><% @nystate_agencies.each do |entity| %>
	<div class="state_agencies_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="state_parks">NY State Parks</h3>
<ul><% @nystate_parks.each do |entity| %>
	<div class="state_parks_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="dmv">DMVs</h3>
<ul><% @dmvs.each do |entity| %>
	<div class="dmv_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>
-->
</body>