<% provide(:title, "Get info and leave reviews about government services and agencies!") %>

<div class="searchbar">
	<script>
	  (function() {
	    var cx = '005827720271794702134:ft3mpiyihqa';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$.each(['categories', 'nyc_executives', 'city_agencies', 'subways', 'post_offices', 'state_agencies', 'state_parks'], function(index, cssName){
		var list = $('.'+cssName+'_list');
		$(list).hide();
		$('.'+cssName).click(function(){
			$(list).slideToggle('slow');
		});
	});
});
</script>

<script type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5IL7HUJaguYdgp5RIAAKblSuZVzczfE">
</script>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>

<script type="text/javascript">
	function initialize() {
	    var mapOptions = {
			center: { lat: 40.725968, lng: -73.997667}, zoom: 12
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);
	
		var marker = new google.maps.Marker({
	      position: new google.maps.LatLng(40.716593, -74.010593),
	      map: map,
	      title: 'My old house!'
	  	});
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>
	  
<div>
	<h3>Most Recent Posts</h3>
	<ol>
		<% @ten_most_recent_posts.each do |post| %>
				<li>
				<% if post.review != nil %>
				At <%= post.updated_at.time.strftime("%m/%d/%y %l:%M %p") %>
				<%= post.user.first_name.to_s + ' ' + post.user.last_name[0].to_s + ". "%> reviewed
				<strong><%= link_to post.public_entity.name, post.public_entity,  'data-no-turbolink' => true%></strong>:
				<%= link_to post.review[0..50], post.public_entity, 'data-no-turbolink' => true %>...
				<% end %>
			</li>
		<% end %>
	</ol>
</div>

<div id="map-canvas" style="width: 100%; height: 400px; display:inline-block"></div>

<h3 class="categories">Browse by Category</h3>
<ul>
	<% @categories.each do |category| %>
		<li class="categories_list"><%= link_to category.name, category_path(category) %></li>
	<% end %>
</ul>

<h3 class="nyc_executives">NYC Executive Officers</h3>
<ul><% @nyc_executives.each do |entity| %>
	<div class="nyc_executives_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="city_agencies">NYC Agencies</h3>
<ul><% @nyc_agencies.each do |entity| %>
	<div class="city_agencies_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="subways">NYC Subway Stations</h3>
<ul><% @nyc_subway_stations.each do |entity| %>
	<div class="subways_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="post_offices">NYC Post Offices</h3>
<ul><% @nyc_post_offices.each do |entity| %>
	<div class="post_offices_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="state_agencies">NY State Agencies</h3>
<ul><% @nystate_agencies.each do |entity| %>
	<div class="state_agencies_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>

<h3 class="state_parks">NY State Parks</h3>
<ul><% @nystate_parks.each do |entity| %>
	<div class="state_parks_list"><%=link_to entity.name, public_entity_url(entity), 'data-no-turbolink' => true %></div>
	<%end%>
</ul>