<% provide(:title, "Leave a review!") %>

<script type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5IL7HUJaguYdgp5RIAAKblSuZVzczfE">
</script>

<script type="text/javascript">
	function initialize() {
	    var mapOptions = {
			center: { lat: 40.725968, lng: -73.997667}, zoom: 12
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="width: 300px; height: 400px"></div>

<body>
	<h3><%= link_to @public_entity.name, @public_entity.website %></h3>
		<div><%= @public_entity.description %></div>
		<p></p>
		<div><% if @public_entity.superior != nil %>
			This entity reports to <%= link_to @public_entity.superior.name, @public_entity.superior, 'data-no-turbolink' => true %>
			<% end %>
		</div>
		<div>
			<% @categories.each do |category| %>
				<div><%= category.name %></div>
			<% end %>
		</div>
		<p></p>
		<div>There are <strong><%= @posts.count %></strong> reviews.</div><br>
		<p></p>
		<div><% @posts.each do |post| %>
			<div><strong><%= post.title %></strong></div>
			<div><%= post.created_at.time.strftime("%m/%d/%y") %></div>
			<div><%= post.user.email %> left a review:</div>
			<div><%= post.rating %></div>
			<div><%= post.review %></div>
			<p></p>
		<% end %>
		</div>
		
	<h4>Write a review!</h4>
	<form>
		<div class="form-group">
			<%= form_for @post do |f| %>
			<%= f.hidden_field :public_entity_id, value: @public_entity.id %>
			<%= f.label :title, "Title:" %>
			<%= f.text_field :title, class: "form-control" %><br>
	
			<%= f.label :rating, "Please give a rating on a scale from 1-5" %>
			<%= f.text_field :rating, class: "form-control" %><br>
	
			<%= f.label :review, "Enter your review here:" %>
			<%= f.text_area :review, class: "form-control input-lg", rows: 5 %><br>
	
			<%= f.submit "Submit your view", class: "btn btn-default"%>
			<% end %>
		</div>
	</form>
</body>