<% provide(:title, @public_entity.name + " - ""Leave a review!") %>

<script type="text/javascript" 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5IL7HUJaguYdgp5RIAAKblSuZVzczfE">
</script>

<script type="text/javascript">
	function initialize() {
	    var mapOptions = {
			center: { lat: 40.725968, lng: -73.997667}, zoom: 14
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="width: 300px; height: 350px; display:inline-block; float:right"></div>
<div><%= @public_entity.to_coordinates %></div>

<body>
	<div class="entity-info">
		<h3><%= link_to @public_entity.name, @public_entity, 'data-no-turbolink' => true %></h3>
			<div><%= @public_entity.phone %></div>
			<div><%= @public_entity.address %></div>
			<div><% if @public_entity.website != nil %>
				<%= link_to @public_entity.website[0..40], @public_entity.website, 'data-no-turbolink' => true %>...
				<% end %>
			</div>
			<div>
				<%= @categories.map { |category| link_to(category.name, category_path(category)) }.join(' | ').html_safe %>
			</div>
			<br>
			<div><% @public_entity.chiefs.each do |chief| %>
				<ul><li><%= chief.title %>: <strong><%= chief.name %></strong></li>
				<% if chief.salary != nil %>
				<li>Salary: <strong>$<%= chief.salary %></strong></li>
				<% end %>
				<li><%= chief.election_info %></li></ul>
				<% end %>
			</div>
			<br>
			<div><%= @public_entity.description %></div>
			<br>
			<div><% if @public_entity.superior != nil %>
				This entity reports to the <%= link_to @public_entity.superior.name, @public_entity.superior, 'data-no-turbolink' => true %>
				<% end %>
			</div>
	</div>
		<br>
		<div>There are <strong><%= @posts.count %></strong> reviews.</div><br>
		<br>
		<div class="review"><% @posts.each do |post| %>
			<div id="review-date">On <%= post.created_at.time.strftime("%m/%d/%y") %></div>
			<div id="review-name"> <%= post.user.first_name.to_s + ' ' + post.user.last_name[0].to_s %>.</div>
			<div id="review-text">left a review:</div>
			<div id="review-rating"><%= post.rating %> Stars!</div>
			<br>
			<div id="review-content"><%= post.review %></div>
			<p></p>
		<% end %>
		</div>
		<br>
		<div class="leave-review">
			<h4>Write a review!</h4>
			<div class="form-group">
				<%= form_for @post, :url => {:controller => "posts", :action => "create" } do |f| %>
				<%= f.hidden_field :public_entity_id, value: @public_entity.id %>
				<%= f.text_field :rating, class: "form-control", placeholder: "Please give a rating on a scale from 1-5" %>
				<%= f.text_area :review, class: "form-control", rows: 4, placeholder: "Start your review..." %>
				<br>
				<%= f.submit "Submit your review", class: "btn btn-default"%>
				<% end %>
			</div>
		</div>
</body>