<!DOCTYPE html>
<html>
<head>
  <title><%=yield (:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
	<body>
		<header class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <nav>
		      <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", public_entities_path %></li>
				<% if user_signed_in? == false %>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
				<% if user_signed_in? == true %>
				<li><%= link_to "Profile", edit_user_registration_path %></li>
				<li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
				<% end %>
		      </ul>
		    </nav>
		  </div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
