<!DOCTYPE html>
<html>
<head>
  <title><%=yield (:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <meta name="google-site-verification" content="Gjnmxpi2oydlsvES38PLp7THr3JZmJcAM57XB_O_mVc" />
</head>
	<body>
		<header class="header">
			<div class="header-text"><%= link_to "Home", public_entities_path, 'data-no-turbolink' => true %>
			<% if user_signed_in? == false %>
			&nbsp<%= link_to "Sign Up", new_user_registration_path %>
			&nbsp<%= link_to "Log In", new_user_session_path %>
			<% end %>
			<% if user_signed_in? == true %>
			&nbsp<%= link_to "Profile", edit_user_registration_path %>
			&nbsp<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
			<% end %></div>
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
